<h1>Posts by <%= @user.author %></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <%= link_to "Read more", post_path(post), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>